<footer>

    <nav class="nav footer__nav">
        <a class="footer__nav--item" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
        <a class="footer__nav--item" target="_blank"  href="https://www.linkedin.com/in/benjamin-gleitz-bab1b5159/"><i class="fab fa-linkedin fa-2x"></i></a>
        <a class="footer__nav--item"    {% if page is same as('home') %}
                                            href="#ancre" {% else %}
                                            href="{{ path('home_index') }}"
                                        {% endif %}>ACCUEIL</a>
        <a class="footer__nav--item"    {% if page is same as('skill') %}
                                            href="#ancre" {% else %}
                                            href="{{ path('skill_index') }}"
                                        {% endif %}>A PROPOS DE MOI !</a>
        <a class="footer__nav--item"    {% if page is same as('project') %}
                                            href="#ancre" {% else %}
                                            href="{{ path('project_index') }}"
                                        {% endif %}>MES PROJETS</a>
    </nav>

</footer>