<header id="ancre">
    <nav class="nav">
            <div class="nav__left">
                <h1 class="title"><a href="" class="nav__link nav__link--title">benjamin gleitz</a></h1>
            </div>
            <div class="nav__right">
                <ul>
                    <li class="nav__right--items"><a class="nav__link" href="{{ path('home_index') }}">home</a></li>
                    <li class="nav__right--items"><a class="nav__link" href="{{ path('skill_index') }}">about me</a></li>
                    <li class="nav__right--items"><a class="nav__link" href="{{ path('project_index') }}">project</a></li>
                </ul>
            </div>
    </nav>
</header>