{% extends 'base.html.twig' %}

{% block title %}Benjamin Gleitz !{% endblock %}

{% block body %}

<section class="content">

    <div class="container home__container">
        <div class="home__container--left">
            <h2 class="">Bonjour ! &#129304</h2>
            <p>Moi c'est <strong>Benjamin Gleitz</strong> et je suis développeur web !  <br> Dans le cadre d'un bachelor Développeur web avec l'école <em class="important">MyDigitalSchool</em> à <em class="important">Montpellier</em>, je suis à la recherche d'un poste de <em class="important">développeur web en alternance</em>, alors n'hésite pas à me contacter ! &#128640 </p>
            <p>Junior dans le milieu, j'ai de bonnes connaissances en développement Web.<em> Je suis passionné et super motivé</em> à l'idée d'évoluer dans le monde du développement Web.</p>
        </div>
        <div class="home__container--right">
                <img class="profile-img" src="{{ asset('images/profile-pic.jpg') }}">
        </div>
    </div>

</section>

{% endblock %}
