{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

<section class="content">

    <div class="project__container">
        <h2>Mes Projets</h2>
        <div class="container project__wrapper">
            <div class="project__card">
                <div class="project__card--text">
                    <h3 class="project__card--title">TITRE</h3>
                    <p class="project__card--description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, excepturi.</p>
                </div>
                <img class="project__card--img" src="{{ asset('images/travel-mate.jpg') }}" alt="">
            </div>
            <div class="project__card">
                <div class="project__card--text">
                    <h3 class="project__card--title">TITRE</h3>
                    <p class="project__card--description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, excepturi.</p>
                </div>
                <img class="project__card--img" src="{{ asset('images/travel-mate.jpg') }}" alt="">
            </div>
            <div class="project__card">
                <div class="project__card--text">
                    <h3 class="project__card--title">TITRE</h3>
                    <p class="project__card--description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, excepturi.</p>
                </div>
                <img class="project__card--img" src="{{ asset('images/travel-mate.jpg') }}" alt="">
            </div>
        </div>
    </div>

</section>

{% endblock %}
