
/* ! BODY ! */

body {
    background-color: white;
    margin: 0;
    font-family: 'roboto';
}

h2 {
    font-family: 'Permanent Marker';
    font-size: 70px;
    color: coral;
    margin: 20px 0 40px 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 25px;
}

em, strong {
    font-family: 'Permanent Marker';
    color: coral;
    font-size: 28px;
}

a:not(.nav__link--title):hover {
    text-decoration: underline;
    cursor: pointer;
}

section {
    margin: 40px;
}

.container {
    padding: 20px;
    margin: 70px 40px;
}

/* ! NAVBAR ! */

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A9907E;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #FFB84C, #675D50, #3A98B9);
    border-image-slice: 1;
    width:100%;
}

.nav__left {
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.nav__left a {
    color: coral;
}

.title {
    margin: 20px;
}

.nav__right {
    width: 60%;
    font-size: 30px;
}

.nav__right a {
    color: black;
}

.nav__right ul {
    list-style-type: none;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}

.nav__right--items:hover, .title:hover {
    text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
}

/* ! SKILL-PAGE ! */

.skill__container {
    display: flex;
    flex-direction: row;
}

.skill__container-- {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 50px;
}

.skill {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.skills__text {
    padding-top: 45px;
}

.skill ol{
    list-style: none;
    width: 50%;
    margin: auto;
    padding: 0;
}

ol li {
    margin: 10px 0;
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: #F9F5F6;
    cursor: pointer;
    position: relative;
    transition: all .4s;
    z-index: 5;
}

ol li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background: red;
    transition: all .4s;
    z-index: -1;
}

ol li:hover::before {
    width: 100%;
}

.skill__left li:nth-child(1)::before {
    background: #db4437;
}

.skill__left li:nth-child(2)::before {
    background: #4285f4;
}

.skill__left li:nth-child(3)::before {
    background: #753be0;
}

.skill__left li:nth-child(4)::before {
    background: #f4b400;
}

.skill__right li:nth-child(1)::before {
    background: rgb(110, 110, 110);
}

.skill__right li:nth-child(2)::before {
    background: #f4a142;
}

.skill__right li:nth-child(3)::before {
    background: rgb(23, 192, 68);
}

.skill__right li:nth-child(4)::before {
    background: #48CEF7;
}

.cv_button {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: coral;
    border: 0;
    padding: 10px 40px;
    transform: skewX(-15deg);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 15px 15px 0px black;
}

.cv_button a:hover, .contact__items {
    text-decoration: none;
}

.cv_button:hover {
    padding-right: 80px;
    box-shadow: 20px 20px 0px skyblue;
}

.cv_button:hover i{
    animation: color 2s infinite linear;
}

.cv_button:hover i:nth-child(2) {
    right: -20px;
    animation-delay: 0.5s;
}

.cv_button:hover i:nth-child(3) {
    right: -40px;
    animation-delay: 1s;
}

span.arrow {
    margin-left: 25px;
    position: relative;
    transform: skewX(15deg);
}

span.arrow i {
    transform: skewX(15deg);
    transition: 0.2s;
}

@keyframes color {
    0% {
        color: white;
    }

    50% {
        color: skyblue;
    }

    100% {
        color: white;
    }
}

span.arrow i:nth-child(2) {
    position: absolute;
    right: 0;
    top: 1px;
}

span.arrow i:nth-child(3){
    position: absolute;
    right: 0;
    top: 1px;
}

.icon__container {
    margin-top: 55px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    color: black;
    transition: 1.5s;
}

.icon_hover {
    transform: rotate(360deg);
}

.contact__items p, .contact__items a {
    margin-bottom: 20px;
    color: black;
    font-size: 30px;
    word-spacing: 1em;
}

.contact__items em {
    font-size: 18px;
    font-weight: bold;
}

.contact__items a {
    word-spacing: 0;
}

.contact__items li {
    display: flex;
    align-self: start;
}

/* ! FOOTER ! */

footer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer__nav {
   /* background: linear-gradient(230.46deg, #5F5FF3 -2.98%, #B67DFF 68.14%, #FF83CD 104.54%); */
    justify-content: center;
    width: 500px;
    border-radius: 30px;
    border: none;
}

.footer__nav--item {
    margin: 20px 20px;
    color: black;
}

/* ! HOME-PAGE */

.home__container {
    display: flex;
    flex-direction: row;
}

.home__container--left, .home__container--right {
    display: flex;
    justify-content: center;
}

.home__container--left {
    flex-direction: column;
    padding: 0 100px;
}

.home__container--right {
    align-items: center;
}

/*! PROFILE PICTURE */

.profile-img {
    filter: grayscale(1);
    transition: filter 1s;
    border-radius: 50%;
    height: 450px;
    border: black solid 10px;
}

.profile-img:hover {
    animation-play-state: running;
    filter: grayscale(0);
}



/* ^ RESPONSIVE ^ */

@media (max-width: 1350px) {

    body p {
        font-size: 30px;
    }

    /* HOME-PAGE */

    .home__container, .skill__container {
        flex-direction: column;
    }

    .home__container--left, .home__container--right {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .skill__container {
        align-items: center;
    }

    .skill__container-- {
        width: 80%;
    }
}

@media (max-width: 1100px) {

    /* NAVBAR */
    
    .nav {
        flex-direction: column;
    }

    .footer__nav {
        flex-direction: row;
        padding: 0;
        margin: 20px;
    }

    .nav__left, .nav__right {
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    /* HOME-PAGE */

    .home__container {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {

    /* NAVBAR */
    
    .nav {
        flex-direction: column;
        padding-top: 20px;
    }

    .footer__nav {
        width: 600px;
        flex-direction: row;
        padding: 0;
        margin: 20px;
        font-size: 25px;
    }

    .nav__left {
        font-size: 100px;
    }
    .nav__right {
        font-size: 60px;
    }

    /* HOME-PAGE */

    .profile-img {
        filter: none;
    }

    .home__container--left {
        padding: 0;
    }
}

